.tooltip.fade.top.in > div.tooltip-inner{background: #7aa3a6;}
.tooltip.fade.top.in > div.tooltip-arrow{border-top-color: #7aa3a6;}
.required sup{color: #7aa3a6;}
.alert .alert-link, .alert-danger .alert-link {
    background: #7aa3a6 none repeat scroll 0 0;
}
.arrowStyleDot1 .owl-dot.active{background: #7aa3a6;}
.arrowStyleDot1.size2 .owl-dot.active{border:1px #7aa3a6 solid;}
.nav-button-style-one.owl-theme .owl-controls .owl-nav div:hover::after,
.nav-button-style-one.owl-theme .owl-controls .owl-nav div:hover::before{
  border-color: #7aa3a6;
}
.user-menu-links h3::after {
    border-left: 2px solid #7aa3a6;
}
.header_user_info.info-logged span{
  color: #7aa3a6;
}
.header-menu-item-icon a:hover,
.header-menu-item-icon a:hover::after,
.header-menu-item-icon a:hover::before,
#_desktop_cart .blockcart .header > a:hover,
#_desktop_cart .blockcart .header > a:hover::after,
#_desktop_cart .blockcart .header > a:hover::before{
    border-color: #7aa3a6;
}
.header-menu-item-icon a:hover::after {
  background-color: #7aa3a6;
}
.popup-cls.close::before {
    border-color: rgba(0, 0, 0, 0) #7aa3a6;
}
#to-top::before, #to-top::after {
  border: 1px solid #7aa3a6;
}
#to-top::after {
  border-color: #7aa3a6;
  background-color: #7aa3a6;
}
.ajax_cart_quantity, .cart-products-count {
    background: #7aa3a6 none repeat scroll 0 0;
}
#header .cart_block .price, .info-blog-item h3.entry-title a:hover, .info-blog-item .read-more-link:hover {
    color: #7aa3a6;
}
.cart_block .cart-buttons a#button_order_cart span:hover, 
.cart_block .cart-buttons a#button_order_checkout span:hover{background: #7aa3a6;border-color: #7aa3a6;}
#languages-block-top ul li.selected, 
#languages-block-top ul li.selected a, 
#languages-block-top ul li:hover a, 
#languages-block-top ul li:hover span, 
#languages-block-top ul li.selected span,
#currencies-block-top ul li.selected, 
#currencies-block-top ul li.selected a, 
#currencies-block-top ul li:hover a, 
#currencies-block-top ul li:hover span, 
#currencies-block-top ul li.selected span{
    color: #7aa3a6;
}
.user-menu ul li:hover a, .header_user_info a:hover{
  color: #7aa3a6;
}
.txt-iso-code > span, .txt-iso-code > strong {
    color: #7aa3a6;
}
.contact-info-top > span:last-child {
    color: #7aa3a6;
}
.single-service:hover .ser-icon::after,.single-service:hover .ser-icon::before,.hm-9 .single-service .ser-icon::before,.hm-9 .single-service .ser-icon::after{
  border-color: #7aa3a6;
}
.single-service:hover .ser-icon::after,.hm-9 .single-service .ser-icon::after {
  background-color: #7aa3a6;
}
.footer-container #footer section.footer-block ul li a:hover{color: #7aa3a6;}
.dorFooter-contactus ul li a:hover i {
  color: #7aa3a6;
}
body main .social-connect-icon a:hover i{color: #7aa3a6;}
.footer-bottom-info-wapper > div:nth-child(2) a{color: #7aa3a6;}
.fancybox-nav:hover{background: #7aa3a6;border-color: #7aa3a6;}
.log-reg-form p label::after{
  color: #7aa3a6;
}
.log-reg-form .forgot-password {
  color: #7aa3a6;
}
#SubmitCreate > span, #SubmitLogin > span, #submitAccount > span, #add_address #submitAddress > span, 
#address_delivery.address li.address_update span,
#addresses .address li.address_update span,
#address_invoice.address li.address_update span,
#order-list .history_detail .button.button-small span, #order-list .history_detail .link-button {
  border: 1px solid #7aa3a6;
  color: #7aa3a6;
}
#SubmitCreate:hover span,
#submitAccount:hover span,
#add_address #submitAddress:hover span,
#address_delivery.address li.address_update span:hover,
#address_invoice.address li.address_update span:hover,
#addresses .address li.address_update span:hover,
#order-list .history_detail .button.button-small:hover span, #order-list .history_detail .link-button:hover,
#SubmitLogin:hover span{
  background-color: #7aa3a6;
  border-color: #7aa3a6;
}
.registration-info ul li::before {
  color: #7aa3a6;
}
.log-reg-form label sup{color: #7aa3a6;}
.form-group-char > p:last-child {
    color: #7aa3a6;
}
.form-group-char > p:last-child a{color: #7aa3a6;}
table.wishlist-table tr td.product-name a.button:hover{
  background: #7aa3a6;
}
table.wishlist-table tr td.cart-button a{
  background-color: #7aa3a6;
}
.dor-megamenu .navbar-nav > li > .dropdown-menu{
    border-top: 2px solid #7aa3a6;
}
.dor-megamenu .dropdown-submenu .dropdown-menu{
  border-top: 2px solid #7aa3a6;
}
.dor-megamenu .widget-content ul li a:hover{
    color: #7aa3a6;
}
.dor-megamenu ul.navbar-nav li .dropdown-menu .block_content a:hover{
    color: #7aa3a6 !important;
}
.dor-megamenu ul.navbar-nav > li.parent > ul li a:hover{
    color: #7aa3a6 !important;
}
.dor-megamenu #dor-top-menu .dropdown-menu li > a:hover{border-bottom-color: #7aa3a6;}
.dor-megamenu #dor-top-menu .dropdown-menu li > a:hover span{color: #7aa3a6;}
#layer_cart .layer_cart_product .button-container span{background: #7aa3a6 !important;}
#layer_cart_product_attributes, #layer_cart_product_quantity, #layer_cart_product_price{color: #7aa3a6;}
.headerskin4 .dorHeaderSearch-Wapper,
.headerskin3 .dorHeaderSearch-Wapper,
.headerskin1 .dorHeaderSearch-Wapper {
    background: #7aa3a6 none repeat scroll 0 0;
}
#my-account ul.myaccount-link-list li a i{
  color: #7aa3a6;
}
.box-readmore {
    color: #7aa3a6;
    border:1px #7aa3a6 solid;
}
.box-readmore:hover{
    background: #7aa3a6 none repeat scroll 0 0;
}
.dor-slider-title{
  color: #7aa3a6;
}
.dorNavSlider > div.av{background: #7aa3a6 !important;border-color: #7aa3a6;}
#dor_custom_newsletter_block input[name="submitNewsletter"] {
    border: 1px solid #7aa3a6;
}
.head-about-group3 > span, .ourfarmers-head > span, .title-header-tab > span, .delivery-process-head > span, .blog-home-data .fancy-heading > span{
  color: #7aa3a6;
}
.farm-service-item > a:hover, .farmer-item > span:hover{color: #7aa3a6;}
.story-head > span {
    color: #7aa3a6;
}
.story-body a{color: #7aa3a6;}
.product-action-deals .add-to-cart a {
    background: #7aa3a6 none repeat scroll 0 0;
    border-color: #7aa3a6;
}
main #columns .ContinueShop::before,
main #columns .standard-checkout::before,
.product-action-deals .add-to-cart a::before,
.box-info-product .exclusive::before,
#dorSubmitNewsletter::before{
  border: 2px solid #7aa3a6;
}
main #columns .ContinueShop::after,
main #columns .standard-checkout::after,
.product-action-deals .add-to-cart a::after,
.box-info-product .exclusive::after,
#dorSubmitNewsletter::after{
  background: #7aa3a6;
}
.product-action-deals .add-to-cart a:hover::after,
main #columns .standard-checkout:hover::after,
main #columns .ContinueShop:hover::after,
.box-info-product .exclusive:hover::after,
#dorSubmitNewsletter:hover::after{
  background-color: #7aa3a6;
}
.button--winona {
    color: #7aa3a6;
}
.button--winona{
    border: 1px solid #7aa3a6;
}
.button--winona::after {
  color: #7aa3a6;
}
.slider-read-more .button--winona:hover,
.button--winona:hover {
  border-color: #7aa3a6;
}
.slider-read-more .button--winona:hover,
.button--winona.button--inverted:hover {
  border-color: #7aa3a6;
  background-color: #7aa3a6;
}
.button--sacnite:hover, .action-button ul li a:hover, .add-to-line > div > a:hover {
    border-color: #7aa3a6;
}
.button.button--sacnite:hover i, .add-to-line > div > a:hover i{color: #7aa3a6;}
.button--sacnite:hover::before, .slider-content .price-slider.button--sacnite:hover::before,
.add-to-line > div > a:hover::before,
.content_price .deail-price-main.button--sacnite:hover::before, .action-button ul li a:hover::before {
    box-shadow: inset 0 0 0 2px #7aa3a6;
}
.slider-content .price-slider.button--sacnite:hover::before, .add-to-line > div > a:hover::before,
.content_price .deail-price-main.button--sacnite:hover::before, .action-button ul li a:hover::before{
  box-shadow: inset 0 0 0 2px #7aa3a6;
}
.slider-content .price-slider.button--sacnite:hover span, .action-button ul li a:hover i, .add-to-line > div > a:hover i,
.content_price .deail-price-main.button--sacnite:hover span{color: #7aa3a6 !important;}
ul.product_list .product-name:hover, .product_list_sidebar h5 a.product-name:hover{color: #7aa3a6;}
.info-deal-inner > h3 a {
    color: #7aa3a6;
}
#daily-countdown-time .item-time span.dw-time {
    color: #7aa3a6;
}
.add-to-line > div a {
    border: 1px solid #7aa3a6;
    color: #7aa3a6;
}
.dorDailyDeal .content_price.price .deail-price-main{
  background: #7aa3a6;
}
.deail-price-main::before {
    box-shadow: 0 0 0 35px #7aa3a6 inset;
}
.dor-tab-product-category-wrapper .nav > li.active > a, .dor-tab-product-category-wrapper .nav > li > a:hover{
    background: #7aa3a6 !important;border-color: #7aa3a6;
}
.testimonials-slide .owl-nav > div i:hover{color: #7aa3a6;}
.dorFooter-contactus .contact-info ul li:nth-child(4) a span{color: #7aa3a6;}
#dorhomeStyle3 .month-date small {
    color: #7aa3a6;
}
#blockcart-modal .product-name {
    color: #7aa3a6;
}
#blockcart-modal .divide-right .col-md-6:last-child span,
#blockcart-modal .divide-right .col-md-6:last-child > p:last-child{
    color: #7aa3a6;
}
#blockcart-modal .cart-content .btn.btn-primary{border-color: #7aa3a6;background-color: #7aa3a6;}
.dropdown .expand-more{color: #7aa3a6;}
.user-info .account .hidden-sm-down {
    color: #7aa3a6;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #7aa3a6 !important;
}
.dor-tab-product-category-wrapper .nav > li > a:hover{color: #fff !important;border-color: #7aa3a6 !important;}
.sortPagiBar > .display li.selected a{background: #7aa3a6;border-color: #7aa3a6;}
.action-button ul li a:hover{
  color: #7aa3a6;
}

ul.product_list.grid li.ajax_block_product .product-container .content_price .price-percent-reduction {
    background: #7aa3a6;
}
ul.product_list.grid li.ajax_block_product .product-container .comments_note{
  color: #7aa3a6;
}
nav.pagination ul.page-list li.current > span,
nav.pagination ul.page-list li > a:hover{
  background-color: #7aa3a6;
  border-color: #7aa3a6;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {color: #7aa3a6;}
ul.product_list.list > li .right-block .right-block-content div a {
    border: 1px solid #7aa3a6;
}
ul.product_list.list > li .right-block .right-block-content .button-container .btn{background: #7aa3a6;}
ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
    color: #7aa3a6;
}
ul.product_list.list > li .product-container .content_price .price-percent-reduction {
    background: #7aa3a6;
}
.ui-widget-header {
    background: #7aa3a6 none repeat scroll 0 0 !important;
}
.ui-slider-handle.ui-state-default.ui-corner-all{border-color: #7aa3a6;}
.tags_block .block_content a:hover {
  background-color: #7aa3a6;
  border-color: #7aa3a6;
}
#search_filters .facet .collapse > li a:hover span,
#search_filters .facet .collapse > li a:hover{color: #7aa3a6;}
.owl-carousel .owl-controls .owl-nav > div:hover{background: #7aa3a6;border-color: #7aa3a6;}
.dor-list-effect-pizza2 .action-button ul li a:hover{
  background: #7aa3a6;
}
nav.pagination ul.page-list li.current > a, nav.pagination ul.page-list li.current > a:hover {
    background-color: #7aa3a6;
    border-color: #7aa3a6;
}
.dor-list-effect-pizza2 ul.product_list li.ajax_block_product .product-container:hover{border-color: #7aa3a6;}
.dor-list-effect-pizza2 ul.product_list.grid li.ajax_block_product .product-container:hover{
  border-color: #7aa3a6;
}
.products article .dor-thumbnail-container:hover,
.dor-list-effect-pizza2 ul.product_list.list li.ajax_block_product .product-container:hover{border-color: #7aa3a6;}
form#searchbox #search_button.button.button-small span{color: #7aa3a6;}
.custom-radio input[type="radio"]:checked + span {
    background-color: #7aa3a6;
}
#dor_custom_newsletter_block input[name="submitNewsletter"] {
    background: #7aa3a6 none repeat scroll 0 0;
    border: 1px solid #7aa3a6;
}
body#checkout section.checkout-step .address-item.selected {
    border: 1px solid #7aa3a6;
}
.dorHeaderSearch-Wapper {
    background: #7aa3a6 none repeat scroll 0 0;
}
.footer-container #block_various_links_footer ul li a:hover,
.footer-container #block_myaccount_infos ul li a:hover{
  color: #7aa3a6;
}
.dorFooter-contactus ul li a:hover, .dorFooter-contactus ul li a span:hover, .footer-container #footer ul li a:hover{
  color: #7aa3a6;
}

#compare_pro_price {
    color: #7aa3a6;
}
#view_scroll_right:hover,
#view_scroll_left:hover{
    background: #7aa3a6 !important;
    border-color: #7aa3a6 !important;
}
.box-info-product .exclusive,
#submitComment,
#submitMessage,
#submitNewMessage,
.fancy-button {
    background: #7aa3a6 none repeat scroll 0 0;
}
.box-info-product .exclusive {
    background: #7aa3a6;
}

.ProductDetailTabs .nav-tabs > li.active > a,
.ProductDetailTabsCols .nav-tabs > li.active > a{
    background: #7aa3a6;
}
.ProductDetailTabs .nav-tabs > li.active > a:hover{background: #7aa3a6;}
.ProductDetailTabsCols .nav-tabs > li.active > a {
    color: #7aa3a6;
}
.ProductDetailTabsCols .nav-tabs > li.active > a::before {
    border-left: 3px solid #7aa3a6;
}
.ProductDetailTabsStyleRow .nav-tabs > li a:hover:after,
.ProductDetailTabsStyleRow .nav-tabs > li.active a:after{
    border-bottom: 1px #7aa3a6 solid;
}
#thumbs_list li a:hover, #thumbs_list li a.shown{
    border-color: #7aa3a6;
}
.product-actions .add-to-cart {
    background-color: #7aa3a6;
    border-color: #7aa3a6;
}
.act-icon-detail .buttons_bottom_block a, .act-icon-detail .compare a,
.act-icon-detail .buttons_bottom_block a#wishlist_button_nopop {
    border: 1px solid #7aa3a6;
}
.act-icon-detail .buttons_bottom_block a:hover i, .act-icon-detail .compare a:hover i,
.act-icon-detail .buttons_bottom_block a:hover::before, .act-icon-detail .compare a:hover::before{
    color: #7aa3a6;
}
.act-icon-detail .buttons_bottom_block:hover #wishlist_button::before,
.act-icon-detail .buttons_bottom_block:hover #wishlist_button_nopop::before,
.act-icon-detail .buttons_bottom_block:hover a, .act-icon-detail .compare:hover a,
.act-icon-detail .buttons_bottom_block:hover i, .act-icon-detail .compare:hover i{
    color: #7aa3a6 !important;
}
.dorSharingSocial > .tooltip.fade.top.in > div.tooltip-arrow {
    border-top-color: #7aa3a6;
}
.dorSharingSocial .dor-social{border-color: #7aa3a6;}
.dorSharingSocial .dor-social i{color: #7aa3a6;}
#availability_statut > i{color: #7aa3a6;}
.single-banner:hover .banner-text h2::before{
  border-color: #7aa3a6;
}
.single-banner:hover .banner-text h2{
  color: #7aa3a6;
}
.act-icon-detail .buttons_bottom_block:hover, .act-icon-detail .compare:hover{
    color: #7aa3a6;
}
.act-icon-detail .buttons_bottom_block:hover a#wishlist_button::before, 
.act-icon-detail .buttons_bottom_block:hover a#wishlist_button_nopop::before,
.act-icon-detail .compare:hover a{
    color: #7aa3a6;
}
#id_new_comment_form  .required{color: #7aa3a6;}
.user-rating {
    color: #7aa3a6;
}
.productscategory_h2 > span {
    color: #7aa3a6;
}
#tabInfoproduct li.nav-item .nav-link.active,
#tabInfoproduct li.nav-item .nav-link:hover{
    border-color: #7aa3a6;color: #7aa3a6;
}
.product-images > li.thumb-container > .thumb.selected, .product-images > li.thumb-container > .thumb:hover{
    border-color: #7aa3a6;
}
.product-image-container-sidebar > a:before {
  border-top: 1px solid #7aa3a6;
  border-bottom: 1px solid #7aa3a6;
}
.product-image-container-sidebar > a:after {
  border-right: 1px solid #7aa3a6;
  border-left: 1px solid #7aa3a6;
  }
.tooltip-inner{background-color: #7aa3a6;}
.tooltip.tooltip-top .tooltip-arrow, .tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
    border-top-color: #7aa3a6;
}
.product-cover .layer .zoom-in{color: #7aa3a6;}
#contact-form-style2 .text-info-contact > p.txt-info {
    color: #7aa3a6;
}
#contact-form-style2 .txt-head-contact > span {
    color: #7aa3a6;
}
.cart_quantity_delete:hover::before{
    border-color: transparent transparent #7aa3a6;
}
.cart_delete a.cart_quantity_delete i:hover{
    background: #7aa3a6;
}
.address_alias{color: #7aa3a6;}
p.payment_module a span{color: #7aa3a6;}
.billingAddressLine a {
    color: #7aa3a6;
}
.totalProductDorCart{
    color: #7aa3a6;
}
button[name="submitAddDiscount"]:hover span{
    background: #7aa3a6;border-color: #7aa3a6;
}
.heading-counter > span#summary_products_quantity{color:#7aa3a6; }
#cart_summary tbody td.cart_description small, .cart_voucher #display_cart_vouchers span{
    color: #7aa3a6;
}
#cart_summary tbody td.cart_description small a{
    color: #7aa3a6;
}
#cart_summary tfoot td#total_price_container{color: #7aa3a6;}
.cart_navigation .button-medium span, #submitAddress span,
.footer_links .button.button-small span,
.address_update .button.button-small span,
#addresses .main-page-indent .button.button-medium span,
#order .address_add.submit .button.button-small span,
.history_detail .button.button-small span,
.history_detail .link-button,
#order-confirmation a.button-exclusive,
#identity form.std button[name="submitIdentity"] span,
#account-creation_form button[name="submitAccount"] span,
#SubmitLogin .text-auth,
#SubmitCreate .text-auth{
    background: #7aa3a6 none repeat scroll 0 0;
}
.order-confirmation-table .col-xs-5.text-xs-right.bold, .order-confirmation-table .col-xs-5.text-sm-right.text-xs-left {
    color: #7aa3a6;
}
#order-items .order-confirmation-table table tr.font-weight-bold td:last-child {
    color: #7aa3a6;
}
.blog-list-footer .readmore {
    border: 1px solid #7aa3a6;
    color: #7aa3a6;
}
.blog-list-footer .readmore:hover{
  background: #7aa3a6;
}
.blog-post-content-area #blogMasonry .blog-list-footer .readmore:hover{color: #7aa3a6;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > span.page-active{
  background: #7aa3a6;
}
#sdssearch_block_top .btn.button-search {
    color: #7aa3a6;
}
#tags_blog_block_left .block_content > a:hover{background: #7aa3a6;border-color: #7aa3a6;}
.note-info-detail-blog::after {
    border-left: 2px solid #7aa3a6;
}
.total-comment span{color: #7aa3a6;}
.commentList li .reply a.comment-reply-link{color: #7aa3a6;}
.shere-button-area .nav-button > a:hover, .single-post-tags > a:hover, .share-blog-widget a:hover, .author-content-info .shere-post li i:hover{color: #7aa3a6;}